<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835874279065-2thpeibiu90s8lns9u8e75ka29veuoh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835874279065-2thpeibiu90s8lns9u8e75ka29veuoh7</string>
	<key>API_KEY</key>
	<string>AIzaSyA_7tDpjKGpFcmR_TKiSuUMhFtpXARcHuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>835874279065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biton.bubbleflow</string>
	<key>PROJECT_ID</key>
	<string>bubbleflow-mitmit</string>
	<key>STORAGE_BUCKET</key>
	<string>bubbleflow-mitmit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835874279065:ios:0e79fb95299b7b421c7208</string>
</dict>
</plist>